@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

body {
  background: black;
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
}

header {
  background: black;
  color: white;
}

.fixed {
  position: fixed;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* gap-3 in Tailwind is 0.75rem */
  justify-content: center !important;
  align-items: center !important; /* align-middle in Tailwind is align-items: center */
  background: white;
  color: black;
  padding: 24px;
}

.navbar {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  z-index: 1;
}

.navbar-text:hover {
  border-bottom: 3px solid #fff;
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  background: black;
  color: white;
  /* Change later! */
  display: flex;
  justify-content: center;
  align-items: center;
}

.floor {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20vh;
  width: 100vw;
  background: white;
}